@media screen and (min-width: 540px) {
  .app-presentation {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .app-presentation {
    width: 25%;
  }
  .answers-container {
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
  }
  .answer {
    padding: 0 0.3rem;
  }
  .question {
    width: 50%;
    margin-right: 20px;
  }
  .result {
    width: 50%;
    margin-right: 20px;
  }
}
