@media screen and (min-width: 500px) and (max-width: 768px) {
  .questions-list {
    width: 75%;
  }
}

@media screen and (min-width: 700px) {
  .app-presentation {
    width: 450px;
    padding: 3em;
  }
  .answers-container {
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
  }
  .answer {
    padding: 0 0.3rem;
  }
  .questions-list,
  .result {
    width: 70%;

    max-width: 700px;
  }

  .statistics {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .btn {
    width: 45%;
    /* width: 80%; */
    max-width: 300px;
  }
  .btn-result {
    width: 30%;
    font-size: 1rem;
    padding: 1em;
  }
}

@media screen and (min-width: 1200px) {
  .questions-list {
    width: 50%;
    margin-right: 20px;
  }
  .statistics {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-result {
    font-size: 1.2rem;
  }
}
