.score-details h3 {
  margin-bottom: 2rem;
  text-align: center;
}
.result {
  background: white;
  margin: 3rem 1rem;
  padding: 1.5rem;
  box-shadow: 0 0 1em rgba(41, 50, 100, 0.3);
  border-radius: 15px;
}

.radio-label-result {
  cursor: default;
  border: 1px solid #4d5b9e;
  background-color: ghostwhite;
  color: #4d5b9e;

  color: var(--btn-color);
}
.good-answer,
.wrong-answer {
  border: none;
  color: var(--btn-color);
  cursor: default;
}
.good-answer,
.good-answer:hover,
.good-answer:focus {
  background-color: var(--good-answer-color);
  color: var(--btn-color);
}

.wrong-answer,
.wrong-answer:hover,
.wrong-answer:focus {
  background-color: var(--wrong-answer-color);
  color: var(--btn-color);
}
