.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  margin-bottom: 15px;
  padding: 1rem;
  border-radius: 0.25rem;
}
.statistics h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
  line-height: 1.1;
}

.statistics ul {
  margin: 0 auto;
}
.statistics ul li span {
  color: var(--btn-color);
  font-weight: bold;
  font-size: 1.1rem;
}
