.answers-container {
  padding: 0.2rem;
}
.radio-btn {
  display: none;
}

.radio-label {
  cursor: pointer;

  color: var(--btn-color);
  border: 3px solid var(--btn-color);

  transition: all 0.2s ease-in;
}
.radio-label:hover,
.radio-label:focus {
  background-color: var(--btn-color);
  color: white;
}

/* utilities classes*/
.selected,
.selected:hover,
.selected:focus {
  background-color: var(--selected-response-color);
  color: var(--btn-color);
  border: 3px solid var(--selected-response-color);
}
